@import 'tailwindcss';
@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    font-family: Arial, sans-serif;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    color: hsl(var(--nextui-primary));
  }

  a[role='button'] {
    text-decoration: none;
  }

  a[role='button']:hover {
    color: black;
  }

  a[role='menuitem'] {
    text-decoration: none;
  }

  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .accordion section {
    overflow-y: visible !important;
  }

  .text-muted {
    color: #6c757d;
  }

  .table {
    @apply w-full table-auto border-collapse border-spacing-1 text-left;
  }

  .table td,
  .table th {
    @apply p-2;
    border-bottom: 1px solid hsl(var(--nextui-secondary));
  }

  .table-bordered td,
  .table-bordered th {
    border-left: 1px solid hsl(var(--nextui-secondary));
    border-right: 1px solid hsl(var(--nextui-secondary));
  }

  .no-checkbox label {
    display: none;
  }

  .no-checkbox td::before {
    opacity: 0 !important;
  }

  /* Styles for the WYSIWYG editor */
  .rsw-ce ul {
    list-style: disc;
    padding-left: 2em;
  }

  .rsw-ce ol {
    list-style: decimal;
    padding-left: 2em;
  }
  /* end WYSIWYG styles */
}
